<div class="tenth__wrapper">
    <div class="logo" routerLink="/">
        <img src="../../../../assets/icons/Logo.svg" alt="logo">
    </div>
    <div class="inner__wrapper"></div>
    <div class="content">
        <app-gallery [imagesFromOutside]="images" [height]="'800'" [width]="'1300'"></app-gallery>
        <div class="info__content">
            <div class="info__title">
                ქიმიური ტექნოლოგიისა და მეტალურგიის
                ფაკულტეტის ისტორია

            </div>
            <div class="info__text">
                ქიმიური ტექნოლოგიისა და მეტალურგიის ფაკულტეტი ჩამოყალიბდა 2006 წელს. ორი ფაკულტეტის ქიმიურ და ბიოლოგიური
                ტექნოლოგიის და მეტალურგიის ფაკულტეტების ბაზაზე.
                ქიმიური და ბიოლოგიური ტექნოლოგიის ფაკულტეტი, როგორც ერთ-ერთი ძირძველი ფაკულტეტი რესპუბლიკაში, წლების
                მანძილზე ერთპიროვნულად ემსახურებოდა ქიმიკოს ტექნოლოგების მომზადებას. აღნიშნული კვალიფიკაციით
                სპეციალისტების მომზადება სათავეს იღებს 1922 წლიდან თბილისის სახელმწიფო უნივერსიტეტის პოლიტექნიკურ
                ფაკულტეტის ბაზაზე, რომლის შემადგენლობაში შედიოდა სამთო-ქიმიური განყოფილება ქიმიურ-ტექნოლოგიური
                სპეციალობით. 1928 წლიდან აღნიშნული პროფილის სპეციალისტების მომზადება გრძელდება საქართველოს სახელმწიფო
                პოლიტექნიკური ინსტიტუტის სამთო-ქიმიურ ფაკულტეტზე. 1930 წლიდან ეს ფუნქცია დაეკისრა ამიერკავკასიის
                ქიმიურ-ტექნოლოგიურ ინსტიტუტს , 1932 წლიდან ამიერკავკასიის სამთო ქიმიურ ინსტიტუტს, ხოლო 1933 წელს
                ამიერკავკასიის ინდუსტრიულ ინსტიტუტს, სადაც ქიმიური ტექნოლოგიის ფაკულტეტი შევიდა მისი როგორც ერთ-ერთი
                სტრუქტურული ერთეული. 1956-1974 წლებში იგი ფუნქციონირებდა როგორც ქიმიურ და კვების ტექნოლოგიის ფაკულტეტი
                საქართველოს პოლიტექნიკურ ინსტიტუტში. 1974 წელს ქუთაისის პოლიტექნიკურ ინსტიტუტში კვების ტექნოლოგიის
                სპეციალობის გადატანასთან დაკავშირებით მას კვლავ ეწოდა ქიმიური ტექნოლოგიის ფკულტეტი, ხოლო 1996 წლიდან
                ქიმიურ და ბიოლოგიურ ტექნოლოგიის ფაკულტეტი. აღნიშნული სახელწოდებით ფუნქციონირებდა იგი 2006 წლამდე.
            </div>
        </div>
    </div>
</div>