<div class="conference__hall">
    <div class="inner__wrapper"></div>
    <div class="back">
        <a routerLink="..">უკან დაბრუნება</a>
    </div>

    <app-gallery [imagesFromOutside]="images" [height]="'800'" [width]="'1300'"></app-gallery>
    <div class="content">
        <div class="info__content">
            <div class="title">ნიკო ნიკოლაძის საკონფერენციო დარბაზი</div>
            <div class="text">საქართველოს ტექნიკურ უნივერსიტეტს ნიკო ნიკოლაძის სახელობის საკონფერენციო
                დარბაზი შეემატა. ახალი სივრცე უმაღლეს სასწავლებელში პრეზიდენტმა გახსნა. ვიდეო უნდა იყოს
                ან როგორც მოგიხერხდება
            </div>
        </div>
    </div>

</div>