<div class="auditorium__wrapper">
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px;">
            სან დიეგოს სახელმწიფო უნივერსიტეტი
        </div>
        <div class="text">
            სან დიეგოს სახელმწიფო უნივერსიტეტი საქართველო, ამერიკის შეერთებული შტატების მთავრობის სააგენტოს -
            ათასწლეულის გამოწვევის კორპორაციის დაფინანსებით, სტუდენტებს უნიკალურ შესაძლებლობას სთავაზობს მიიღონ
            ამერიკული ხარისხის განათლება თბილისში. სტუდენტებს აქვთ საშუალება მოიპოვონ საერთაშორისოდ აღიარებული ამერიკული
            ბაკალავრის ხარისხი კავკასიის შუაგულში. სან დიეგოს სახელწმიფო უნივერსიტეტი და საქართველოს ტექნიკური
            უნივერსიტეტი - აბიტურიენტებს სთავაზობს საერთაშორისოდ აკრედიტირებულ ბაკალავრის ხარისხს მეცნირების,
            ტექნოლოგიის, ინჟინერიისა და მათემატიკის (STEM) დარგებში. აღნიშნული პროგრამების შეთავაზებით უნივერსიტეტი
            მხარს უჭერს როგორც მშენებლობის, მეცნიერების და ტექნოლოგიის სფეროების განვითარებას, ასევე საქართველოს
            ადამიანური კაპიტალის გაუმჯობესებას და ამ გზით ქვეყნის ეკონიმიკურ ზრდას.
            პირველად საქართველოში! სტუდენტებს ეძლევათ უნიკალური შესაძლებლობა მიიღონ ამერიკული ბაკალავრის ხარისხი
            საქართველოში! ისწავლე ამერიკულ უნივერსიტეტში და მიიღე ამერიკული დიპლომი.

        </div>
    </div>

</div>