.third__floor_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 50px 0;
    overflow-x: hidden;
    background: url('../../../../../../../../assets/backgrounds/9.webp')center center/cover no-repeat;
    background-attachment: fixed;

    .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        max-width: 760px;
        min-width: 750px;
        margin-right: 5%;
    }

    .info {
        width: 100%;

        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 25px;
            max-width: 760px;
            color: white;
            text-align: center
        }

        .text {
            font-size: 18px;
            color: white;
            max-width: 760px;
        }
    }

    .biomedical__engineering_laboratory {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }

    .data__managment_laboratory,
    .microprocessor_laboratory {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        .images {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 15px;
            max-width: 760px;
            min-width: 750px;
            margin-left: 5%;
            margin-right: 0;
            padding-right: 30px;
        }
    }

    .electronics_laboratory {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width:1350px) {
    .third__floor_wrapper {

        .biomedical__engineering_laboratory,
        .electronics_laboratory {
            flex-direction: column;
            align-items: center;

            .images {
                display: flex;
                justify-content: center;
                margin-right: 0;
            }
        }

        .data__managment_laboratory,
        .microprocessor_laboratory {
            flex-direction: column-reverse;
            align-items: center;

            .images {
                display: flex;
                justify-content: center;
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width:800px) {
    .third__floor_wrapper {

        .biomedical__engineering_laboratory,
        .electronics_laboratory {
            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                .title {
                    max-width: 600px;
                }
                .text {
                    max-width: 600px;
                }
            }
        }

        .data__managment_laboratory,
        .microprocessor_laboratory {
            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                .title {
                    max-width: 600px;
                }
                .text {
                    max-width: 600px;
                }
            }
        }
    }
}

@media only screen and (max-width:650px) {
    .third__floor_wrapper {

        .biomedical__engineering_laboratory,
        .electronics_laboratory {
            .info {
                .title {
                    max-width: 450px;
                }
                .text {
                    max-width: 450px;
                }
            }
        }

        .data__managment_laboratory,
        .microprocessor_laboratory {
            .info {
                .title {
                    max-width: 450px;
                }
                .text {
                    max-width: 450px;
                }
            }
        }
    }
}
@media only screen and (max-width:550px) {
    .third__floor_wrapper {

        .biomedical__engineering_laboratory,
        .electronics_laboratory {
            .info {
                .title {
                    font-size: 22px;
                    max-width: 360px;
                }
                .text {
                    font-size: 14px;
                    max-width: 360px;
                }
            }
        }

        .data__managment_laboratory,
        .microprocessor_laboratory {
            .info {
                .title {
                    font-size: 22px;
                    max-width: 360px;
                }
                .text {
                    font-size: 14px;
                    max-width: 360px;
                }
            }
        }
    }
}