<div class="third__floor_wrapper">
    <div class="inner__wrapper">

    </div>
    <div class="back">
        <a routerLink="..">უკან დაბრუნება</a>
    </div>
    <div class="content">
        <div class="biomedical__engineering_laboratory">
            <div class="images">
                <app-gallery [imagesFromOutside]="images"></app-gallery>

            </div>
            <div class="info">
                <div class="title" style="width: 715px;">
                    ბიოსამედიცინო ინჟინერიის ლაბორატორია
                </div>
                <div class="text">
                    ლაბორატორიაში შესაძლებელია:სამედიცინო აპარატურის შესწავლა, დიაგნოსტიკა, ექსპერტული საქმიანობა. <br>
                    ლაბორატორია მოიცავს: <br>
                    2 პერსონალურ კომპიუტერს; <br>
                    2 პროექტორს; <br>
                    1 ბიოსამედიცინო ინჟინერიის ლაბორატორიული კურ-სის სისტემას; <br>
                    1 სამედიცინო ტექნიკური სისტემის სისხლის წნევის მონიტორინგის უსადენო სენსორი; <br>
                    1 სამედიცინო ტექნიკური სისტემის ნაზალურ-ორა-ლური აირის გადინების სენსორი; <br>
                    1 სამედიცინო ტექნიკური სისტემის ნაზალურ-ორა-ლური თერმოწყვილის სენსორი პოლისომნოგრაფიისა და
                    რესპირაციისათვისთვის; <br>
                    1 ბიოსამედიცინო ინჟინერიის ლაბორატორიული კურსის სისტემის ელექტრული კომუტაციური ფირ-ფიტა; <br>
                    1 ბიოსამედიცინო ინჟინერიის ლაბორატორიული კურ-სის სისტემის კუნთის ძალის გამოსაცდელი სენსორი; <br>
                    1 ბიოსამედიცინო ინჟინერიის ლაბორატორიული კურსის სისტემის პიეზო-ელექტრუ¬ლი რესპირაციის სენსორული
                    ქამარი; <br>
                    1 ბიოსამედიცინო ინჟინერიის ლაბორატორიული კურსის სისტემის პულს-ოქსიმეტრიის თითის სენსორი; <br>
                    1 ბიოსამედიცინო ინჟინერიის ლაბორატორიული კურსის სისტემის სენსორები - სპირომეტრული კვლევის სენსორები;
                    <br>
                    1 ბიოსამედიცინო ინჟინერიის ლაბორატორიული კურსის სისტემის სენსორების ინტერფეისის კაბელი;
                </div>
            </div>


        </div>
        <div class="data__managment_laboratory">
            <div class="info">
                <div class="title" style="width: 715px;">
                    დიდ მონაცემთა მართვის ლაბორატორია
                </div>
                <div class="text">
                    დიდი მონაცემების შენახვა, მართვა; სწავლება, კვლევა <br>
                    ლაბორატორია მოიცავს: <br>
                    6 პერსონალურ კომპიუტერს, შემდეგი პარამეტრებით: <br>
                    პროცესორი: i7 - 7700k 4.20 GHz <br>
                    ოპერატიული:
                    32GB DDR4 <br>
                    SSD: 256 GB <br>
                    HDD: 2 TB <br>
                    ვიდეოდაფა: GeForce GTX 1080 Ti <br>
                    დედადაფა: ASUS - STRIX Z270E GAMING <br>
                    შესაბამის პროგრამულ და მეთოდურ მითითებებს ლაბორატორიული და პრაქტიკული სამუშაოების ჩასატარებლად.
                </div>
            </div>
            <div class="images">
                <app-gallery [imagesFromOutside]="images2"></app-gallery>
            </div>
        </div>
        <div class="electronics_laboratory">
            <div class="images">
                <app-gallery [imagesFromOutside]="images3"></app-gallery>
            </div>
            <div class="info">
                <div class="title" style="width: 715px;">
                    ელექტრონიკისა და ანალოგური სქემატექნიკის ლაბორატორია
                </div>
                <div class="text">
                    ელექტრონიკა, ანალოგურ ტექნიკაზე დამყარებული პროცესების მართვა, შესწავლა, კვლევა. <br>
                    <br>
                    ლაბორატორია მოიცავს: <br>
                    <ul>
                        <li>12 პერსონალურ კომპიუტერს;</li>
                        <li>1 პროექტორს;</li>
                        <li>12 NI ELVIS II პლატფორმას, სხვადასხვა პლატებით და შესაბამისი პროგრამული უზრუნველყოფით;</li>
                        <li>12 სამაკეტო პლატას „ელექტრონული სქემების ასაწყობად და შესასწავ¬ლად“; </li>
                        <li>8 სამაკეტო პლატას „ინფორმაციული-გამზომი ტექნიკის ანალოგური ელემენტების შესწავლისათ¬ვის“</li>
                        <li>2 სამაკეტო პლატას „ოპერაციული გამაძლიერებლე¬ბის შესასწავლად“.</li>
                        <li>4 სამაკეტო პლატას „ელექტროტექნიკის თეორიული საფუძვლების შესწავლა“ </li>
                        <li>2 სამაკეტო პლატას „გაზომვების დამუშავება და ანალიზი “ </li>
                        <li>1 სამაკეტო პლატას „თბოტექნიკაში მართვის სისტემები“-ს შესწავლა.</li>
                        <li>მეთოდურ მითითებებს ლაბორატორიული და პრაქტიკული სამუშაოების ჩასატარებლად.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="microprocessor_laboratory">
            <div class="info">
                <div class="title" style="width: 715px;">
                    მიკროპროცესორული სისტემების ლაბორატორია
                </div>
                <div class="text">
                    ლაბორატორიაში შესაძლებელია:მიკროკონტროლერების და ჩაშენებული სისტემების შესწავლა. სამრეწველო
                    სისტემების, საყოფაცხოვრებო ტექნიკს, საავტომობილო, სამედიცინო ტექნიკის და სხვა მოწყობილობების
                    ჩაშენებული სისტემების შესძავლა, კვლევა. <br>
                    ლაბორატორია მოიცავს: <br>
                    <ul>
                        <li>16 პერსონალურ კომპიუტერს;</li>
                        <li>16 BIGAVR6 Development System ტიპის ლაბორატო-რიულ პლატფორმას დამატებითი მოწყობილობების და
                            პროგრამულ უზრუნველყოფასთან ერთად; </li>
                        <li>8 EASYAVR6 Development System ტიპის ტიპის ლაბორატორიულ პლატფორმას დამატებითი მოწყობილობების
                            და პროგრამულ უზრუნველყოფასთან ერთად;</li>
                        <li>16 მიკროკონტროლერის პლატას ATMEGA 128 მიკროკონტროლერით;</li>
                        <li>16 მიკროკონტროლერის პლატას ATMEGA 1280 მიკროკონტროლერით;</li>
                        <li>ლაბორატორიული სამუშაოების პაკეტს;</li>
                        <li>მეთოდურ მითითებებს ლაბორატორიული სამუშაოების ჩასატარებლად.</li>
                    </ul>
                </div>
            </div>
            <div class="images">
                <app-gallery [imagesFromOutside]="images4"></app-gallery>
            </div>
        </div>
        <div class="electronics_laboratory">
            <div class="images">
                <app-gallery [imagesFromOutside]="images5"></app-gallery>
            </div>
            <div class="info">
                <div class="title" style="width: 715px;">
                    მონაცემთა შეგროვებისა და ექსპერიმენტის ავტომატიზაციის ლაბორატორია
                </div>
                <div class="text">
                    ლაბორატორიაში შესაძლებელია:ექსპერიმენტის დაგეგმვა, მონიტორინგი და მართვა. შესწავლა, კვლევა. <br>
                    <br>
                    ლაბორატორია მოიცავს: <br>
                    <ul>
                        <li>12 პერსონალურ კომპიუტერს;</li>
                        <li>1 პროექტორს;</li>
                        <li>Compact DAQ-ის შემდეგ აპარატურას</li>
                        <li>8 ანალოგური სიგნალების შეყვანის უნივერსალურ მოდულს NI 9219;</li>
                        <li>4 აკუსტიკის და ვიბრაციის დინამიკური სიგნალების გაზომვის 4- არხიანი მოდულს NI 9234;</li>
                        <li>2 ბოგირული გადამწოდების დინამიკური სიგნალების გაზომვის 4- არხიანი მოდულს NI 9237;</li>
                        <li>8 ანალოგური სიგნალების გამოყვანის 4-არხიანი მოდულს NI 9263;</li>
                        <li> 1 დისკრეტული შესასვლელ/გამოსასვლელის 8-არხიანი მოდულს NI 9401;</li>
                        <li>ბლოკის ინტეგრირებული 25 კონტაქტიანი შემაერთებელი D-Sub Connector Kit new NI993
                            1 დისკრეტული გამოსავლის 8-არხიან მოდული (Compact DAQ ). •7 კორპუსს (chassis) 4 ცალი ანალოგური
                            სიგნალების შესასვლელიანი მოდელების დასამაგრებლად;</li>
                        <li>8 კორპუსს (chassis) სიგნალების შესასვლელ/გამოსასვლელი ერთი მოდელის დამაგრებისათვის.
                            შესაბამის პროგრამულ და მეთოდურ მითითებებს ლაბორატორიული და პრაქტიკული სამუშაოების ჩასატარებლად.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="microprocessor_laboratory">
            <div class="info">
                <div class="title" style="width: 715px;">
                    სერვერული და ქსელური მოწყობილობების ოთახი
                </div>
            </div>
            <div class="images">
                <app-gallery [imagesFromOutside]="images6"></app-gallery>
            </div>
        </div>
    </div>
</div>