<div class="public__theater_wrapper">
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px;">
            სახალხო თეატრ-სტუდია „მოდინახე“
        </div>
        <div class="text">
            თეატრის პირველი დასი ჩამოყალიბდა 1945 წ. დორიან კიტიას ხელმძღვანელობით, შემდგომში დასს ხელმძღვანელობდნენ
            ქართული თეატრალური ხელოვნების ცნობილი თვალსაჩინო მოღვაწეები ნოდარ ჩხეიძე, მიხეილ თუმანიშვილი, კოტე მახარაძე,
            ბორის წიფურია. 1975 წლიდან დასს ხელმძღვანელობს ამავე უნივერსიტეტის კურსდამთავრებული ნუგზარ ბუცხრიკიძე.
            დღიდან დაარსებისა უნივერსიტეტის თეატრის სცენაზე დაიდგა 200-ზე მეტი სპექტაკლი, რომელთაც მრავალრიცხოვანი
            მაყურებლის მოწონება დაიმსახურა.

            „მოდინახე“ ერთ-ერთი საუკეთესო თეატრია, სადაც პროფესიონალი რეჟისორის ხელმძღვანელობით, არაპროფესიონალი
            მსახიობები, სტუდენტები მაყურებლისთვის საინტერესო გარემოს ქმნიან და ჩვენთვის საყვარელი ავტორების პიესებს
            აცოცხლებენ. „მოდინახე“ 75 წლისაა, საქართველოს ტექნიკური უნივერსიტეტი კი 100 წლის იუბილეს ზეიმობს. მთელი ამ
            75 წლის მანძილზე, თეატრი იყო და არის ამ დიდი საინჟინრო სკოლის ერთ-ერთი სავიზიტო ბარათი. აქ ფეხი აიდგეს
            ისეთმა დიდმა მსახიობებმა, როგორიცაა: მურმან ჯინორია, გოგი გეგეჭკორმა და გივი ბერიკაშვილმა ითამაშე ამ სცენაზე
            და ასე შემდეგ. აქ დადგა თავისი პირველი სპექტაკლი დიდმა მიხეილ თუმანიშვილმა. სასიხარულოა, რომ ბატონმა ნუგზარ
            ბუცხრიკიძემ შეძლო თეატრის სიცოცხლის გახანგრძლივება და დღეს „მოდინახეს“ სპექტაკლები ანშლაგით მიმდინარეობს.
            სწორედ ამიტომ გვსურს, ბატონ ნუგზარს დიმიტრი ალექსიძის სახელობის ჯილდო გადავცეთ. წარმატებებს ვუსურვებთ ნუგზარ
            ბუცხრიკიძეს და საქართველოს ტექნიკური უნივერსიტეტის სახალხო თეატრ-სტუდია „მოდინახეს“, - აღნიშნა გიორგი
            გეგეჭკორმა.
            საქართველოში ერთ-ერთი უძველესი საუნივერსიტეტო ტრადიციების მქონე სახალხო თეატრ-სტუდია „მოდინახეს“ წელს
            დაარსებიდან 75 წელი შეუსრულდა.
        </div>
    </div>
</div>