<div class="main__title">
    მეცხრე სართული
</div>
<div class="high__voltage_laboratory">
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px;">
            სამართლისა და საერთაშორისო ურთიერთობების ფაკულტეტი
        </div>
        <div class="text">
            2016 წლის 25 მაისიდან საქრთველოს ტექნიკურ უნივერსიტეტში ჩამოყალიბდა ახალი, სამართლისა და საერთაშორისო
            ურთიერთობების ფაკულტეტი, რომლის მიზანი და ამოცანაა გააჩინოს საქართველოს საგანმანათლებლო სივრცეში კიდევ ერთი
            კონკურენტუნარიანი, ძლიერი სასწავლო და სამეცნიერო კერა და მისცეს სტუდენტებს სრულფასოვანი და თანამედროვე
            განათლება.
        </div>
    </div>
</div>
<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title" style="width: 715px;">
            საჯარო სამართლის ლაბორატორია
        </div>
        <div class="text">
            საჯარო სამართლის ლაბორატორია-უნიკალურია თავისი ექსპონატებითა და ბიბლიოთეკით, მასში შეიძლება ნახოთ მსოფლიოს
            ორმოცდაათზე მეტი ქვეყნის კონსტიტუცია, სამართლებრივი აქტები და ქვეყნების სიმბოლიკა. მათ შორის წარმოდგენელია
            ძველი ქართული სამათლებრივი ძეგლები, საქართველოს პირველი და მოქმედი რესპუბლიკის ამსახველი ექსპოზიცია.
            ლაბორატორიაში იმართება შეხვედრები ცნობილ იურისტებთან, გამოჩენილ მეცნიერებთან, პოლიტიკოსებთან, ისინი
            სტუდენტებს უზიარებენ დაგროვილ ცოდნასა და გამოცდილებას, თანამედროვე პრაქტიკას.
        </div>
    </div>
    <div class="images">
        <app-gallery [imagesFromOutside]="images2"></app-gallery>

    </div>
</div>
<div class="high__voltage_laboratory">
    <div class="images">
        <app-gallery [imagesFromOutside]="images3"></app-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px; margin-top: 50px;">
            კრიმინალისტიკის ლაბორატორია
        </div>
        <div class="text">
            კრიმინალისტიკის ლაბორატორია რომელიც აღჭურვილია თანამედროვე ტექნიკური საშუალებებით და ემსახურება
            სტუდენტებისათვის პროფესიული უნარ-ჩვევების ჩამოყალიბებისა და სწავლების პროცეს. ამავე ლაბორატორიაში
            ხორციელდება პროფესიული სწავლების 4 საფეხურიანი პროგრამა. საქართველოს ტექნიკური უნივერსიტეტის სამართლისა და
            საერთაშორისო ურთიერთობების ფაკულტეტის კრიმინალისტიკის ლაბორატორია არის პრეცედენტი სასწავლო ბაზაზე არსებული
            ლაბორატორიის სახით და გარანტი იმასა, რომ ფაკულტეტი მოამზადებს და საზოგადოებას წარუდგენს პროფესიონალ
            კადრებს.პრაქტიკული სამართლის კლინიკა ეხმარება სტუდენტებს გამოიმუშაონ ადვოკატის პროფესიული უნარ-ჩვევები.
        </div>
    </div>
</div>
<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title" style="width: 715px;">
            ბიბლიოთეკა
        </div>
        <div class="text">
            ბიბლიოთეკაში დიდი რაოდენობითაა ენციკლოპედიები, ლექსიკონები და სხვადასხვა სასწავლო-სამეცნიერო კვლევითი
            ორგანიზაციების სამეცნიერო შრომები.განთავსებულია სამართლისა და საერთაშორისო ურთიერთობების ფაკულტეტისთვის
            საჭირო ყველა მასალა.
        </div>
    </div>
    <div class="images">
        <app-gallery [imagesFromOutside]="images4"></app-gallery>
    </div>
</div>