<div class="fourth__floor_wrapper">
    <div class="inner__wrapper">

    </div>
    <div class="back">
        <a routerLink="..">უკან დაბრუნება</a>
    </div>
    <div class="content">
        <div class="biomedical__engineering_laboratory">
            <div class="images">
                <app-gallery [imagesFromOutside]="images"></app-gallery>
            </div>
            <div class="info">
                <div class="title" style="width: 715px;">
                    CERN-ში მიმდინარე ფიზიკური ექსპერიმენტ ATLAS–ის მო…ემთა რეკონსტრუქცისა და მოდელირების - 1 ლაბორატორია
                </div>
                <div class="text">
                    
                </div>
            </div>
        </div>
        <div class="data__managment_laboratory">
            <div class="info">
                <div class="title" style="width: 715px;">
                    SCADA სისტემების ლაბორატორია
                </div>
                <div class="text">
                    SCADA სისტემების შესწავლა, სინთეზი, კვლევა.  <br>
                    ასევე შესაძლებელია:  <br>
                    <ul>
                        <li>რეალურ დროში ფუნქციონირებადი მონაცემთა ბაზების;</li>
                        <li>რეალურ დროში ფუნქციონირებადი პროგრამული საშუალებების ინჟინერინგის; </li>
                        <li>„მწვანე პროგრამირების“;</li>
                        <li>კომპიუტერის არითმეტიკის;</li>
                        <li>გამზომი მიკროპროცესორული მოწყობილობების;</li>
                        <li>საწარმოო კომპიუტერული სისტემების ფუნქციონირების;</li>
                        <li>ადამიანი/კომპიუტერის მომხმარებლის ინტერფეისების. საკითხების შესწავლა და კვლევა.</li>
                        <li>ლაბორატორია მოიცავს:</li>
                        <li>16 SCADA ლაბორატორიულ სტენდს (შემუშავებულია და განხორციელებულია სტუ–ში);</li>
                        <li>16 პერსონალურ კომპიუტერს;</li>
                        <li>SCADA-ს პროგრამული პაკეტს Trace Mode;</li>
                        <li>პროგრამულ პაკეტს LPConfig;</li>
                        <li>პროგრამულ პაკეტს eCon software;</li>
                        <li>პროგრამულ პაკეტს SCADA-Connect (დამუშავებულია სტუ–ში);</li>
                        <li>პროექტორს;</li>
                        <li>სტუ–ს ენერგომომარაგების მონიტორინგის SCADA სისტემის მართვის საინჟინრო სადგურს;</li>
                        <li>ლაბორატორიული სამუშაოების კომპლექტს;</li>
                        <li>მეთოდურ მითითებებს ლაბორატორიული და პრაქტიკული სამუშაოების ჩასატარებლად</li>
                    </ul>
                </div>
            </div>
            <div class="images">
                <app-gallery [imagesFromOutside]="images2"></app-gallery>
            </div>
        </div>
        <div class="electronics_laboratory">
            <div class="images">
                <app-gallery [imagesFromOutside]="images3"></app-gallery>
            </div>
            <div class="info">
                <div class="title" style="width: 715px;">
                    კომპიუტერული ქსელების ლაბორატორია
                </div>
                <div class="text">
                    კომპიუტერული ქსელების სინთეზი, ანალიზი, ადმინისტრირება. <br>
                    <br>
                    ლაბორატორია მოიცავს: <br>
                    <ul>
                        <li>2 საკომუნიკაციო კარადა U42; </li>
                        <li>32 WI-FI მარშრუტიზატორი; </li>
                        <li>2 მედია კონვერტორი;</li>
                        <li>2 ODF;</li>
                        <li>ოპტიკური კაბელი - 50 მეტრი </li>
                        <li>4 Wi-Fi antena;</li>
                        <li>კომპიუტერული ქსელების ორი მოწყობილობა - ორი კომპლექტი </li>
                        <li>1 მარშრუტიზატორი უმავთულო კავშრისათვისTP-LINK; </li>
                        <li>1 სვიჩი მავთულიანი კავშირისათვის TP-LINK;</li>
                        <li>12 კომუტატორ (switch) cisco 2960; </li>
                        <li>12 CON-SMBS C2960;</li>
                        <li>12 კომუტატორ (switch) cisco 2911; </li>
                        <li>12 CON-SNT-2911; </li>
                        <li>12 HWIC; </li>
                        <li>60 სხვადასხვა ტიპის Serial Cable; შესაბამის პროგრამულ და მეთოდურ მითითებებს ლაბორატორიული და პრაქტიკული სამუშაოების ჩასატარებლად.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="microprocessor_laboratory">
            <div class="info">
                <div class="title" style="width: 715px;">
                    საკომფერენციო დარბაზი
                </div>
            </div>
            <div class="images">
                <app-gallery [imagesFromOutside]="images4"></app-gallery>
            </div>
        </div>
    </div>
</div>