<div class="ninth__building-wrapper">
    <div class="logo" routerLink="/">
        <img src="../../../../assets/icons/Logo.svg" alt="logo">
    </div>
    <div class="history__wrapper">
        <video loop  autoplay muted id="myVideo">
            <source src="../../../../assets/videos/9.mp4">
        </video>
        <div class="inner__wrapper">
    
        </div>
        <div class="building__info">
            <h1 class="info__title">
                <span>ჟიული</span> <span>შარტავას</span>
                <span>სახელობის</span><span>ინფორმატიკისა</span> <span>და </span><br>
                <span>მართვის</span> <span>სისტემების</span> <span>სასწავლო</span> <span>–</span> <span>სამეცნიერო</span>
                <span>და</span> <br>
                <span>საექსპერტო</span> <span>ლაბორატორიის</span> <span>კორპუსი</span>
            </h1>
            <div class="title">
                აირჩიეთ სართული მეტი ინფორმაციისათვის
            </div>
            <div class="floors__container">
                
                <div class="floor" *ngFor="let floor of floors" [routerLink]="floor.path">
                    {{floor.title}}
                </div>
            </div>
        </div>
    </div>
</div>