<div class="cards__container">
    <div class="card"  *ngFor="let card of cards" >
        <div class="card-side front" (mouseover)="changeBackground(card.id)">
            <div class="card__image">
                <img [src]="card.image" [width]="width" [height]="height" alt="">
            </div>
            <div class="card__title">
              {{card.title}}
            </div>
        </div>
        <div class="card-side back">
            <div class="faculties">
                {{card.faculties}}
            </div>
            <div class="more__info">
                <button [routerLink]="card.path">მეტი ინფორმაცია</button>
            </div>
        </div>
    </div>
</div>
