<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title" style="width: 715px;">
            მექანიკის ინჟინერიის ტექნიკოსი
        </div>
        <div class="text">
            პროფესიული საგანმანათლებლო პროგრამის მიზანია, შემუშავებულ იქნას ისეთი 
            პროფესიული საგანმანათლებლო პროგრამა, რომელიც მექანიკის დამუშავების 
            სფეროსთვის უზრუნველყოფს კონკურენტუნარიანი სამუშაო ძალის მომზადებას. 
            პროგრამის საფუძველზე მომზადდება „მექანიკის ინჟინერიის ტექნიკოსი“, 
            რომელიც მონაწილეობას ღებულობს ტექნიკური სისტემის - მანქანის, მექანიკური 
            მოწყობილობის და მექანიზმების დაპროექტებაში, დამზადებაში, მომსახურებაში, 
            სერვისსა და რემონტში
        </div>
    </div>
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
</div>