<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title">
            პროფ. გ. ხარატიშვილის სახელობის გეოლოგიისა და პალეონტოლოგიის მუზეუმი
        </div>
        <div class="text">
            პროფ. გ. ხარატიშვილის (1905-1981) სახელობის გეოლოგიგიისა და პალეონტოლოგიის მუზეუმის შექმნა იწყება 1953
            წლიდან, როდესაც გაიხსნა საქართველოს ტექნიკური უნივერსიტეტის III კორპუსი (სამთო-გეოლოგიური ფაკულტეტი) და
            გამოიყო ფართი. მასალის შეგროვება ძირითადად ხდებოდა, გეოლოგიისა და პალეონტოლოგიის კათედრის თანამშრომლების
            საველე სამუშაოების და სასწავლო-გეოლოგიური პრაქტიკების ჩატარების დროს, არა მარტო საქართველო სტერიტორიაზე,
            არამედ ყოფილი საბჭოთა კავშირის გეოლოგიურად საინტერესო სხვადასხვა რეგიონში (სომხეთი, აზერბაიჯანი,
            ცენტრალურიაზია, ურალი, ციმბირი, ბალტიის პირეთი, რუსეთის ვაკე, უკრაინა, ყირიმი, ჩრდილოეთ კავკასია და სხვ.).

            მუზეუმი ფართოვდებოდა მასალის დაგროვებასთან ერთად, რომელიც სათანადოდ მოწმდებოდა, მუშავდებოდა, თანდათან
            იხვეწებოდა და მდიდრდებოდა. ამგვარად შეიქმნა უნიკალური სასწავლო მუზეუმი, სადაც გამოფენილი ძირითადი თემატური
            მასალა ასახავს დედამიწის აგებულებისა და განვითარების ისტორიას. მუზეუმს გააჩნია მდიდარი ფონდები, რომელსაც
            დიდი სამეცნიერო და სასწავლო მნიშვნელობა აქვს. მის საცავებში ინახება ათასობით ქანის, ნამარხის და მინერალის
            ნიმუში. მუზეუმში გამოფენილია აგრეთვე გეოლოგიური ჭრილების ამსახველი მასალა, პანოები, მაკეტები, ნამარხი
            ორგანიზმების მულიაჟები, სურათები, გამოჩენილ მეცნიერთა პორტრეტები, ძველი ლანდშაფტების სქემები, რუკები,
            განმარტებითი ტექსტები, რომლებიც სტუდენტებს მასალის ათვისებაში ეხმარება.

            მუზეუმის შესასვლელთან, კედელზე კიდია მამონტის ეშვის მაკეტი, რომელიც პ. პეტროვის მიერაა შესრულებული (მის
            მიერვე არის შესრულებული მუზეუმში არსებული მაკეტებისა და სურათების უმრავლესობა).
        </div>
    </div>
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
</div>