<div class="main__title">
    მესამე სართული
</div>
<div class="high__voltage_laboratory">
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
    <div class="info">
        <div class="title" >
            ინფორმატიკისა და მართვის სისტემების ფაკულტეტი
        </div>
        <div class="text">
            ფაკულტეტის არსებობა XX საუკუნის 50-იანი წლების დასაწყისიდან იღებს სათავეს. მას საფუძვლად დაედო საქართველოში
            ავტომატიზაციისა და ინფორმატიზაციის სხვადასხვა დარგის სამეცნიერო და კვლევითი დაწესებულებების გახსნა და
            განვითარება. შეიქმნა საჭიროება, რომ მომზადებულიყო ამ ორგანიზაციებისათვის შესაბამისი კომპეტენციის კადრები.
            დღეისათვის, ინფორმატიკისა და მართვის სისტემების ფაკულტეტის მიზანს თანამედროვე მოთხოვნების შესაბამისი
            კომპეტენციის მქონე, საერთაშორისო შრომის ბაზარზე კონკურენტუნარიანი სპეციალისტების მომზადება წარმოადგენს,
            უმაღლესი განათლების სამივე - საბაკალავრო, სამაგისტრო და სადოქტორო საფეხურებზე.
        </div>
    </div>
</div>