<div class="mechatronics__laboratory">
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px;">
            მექატრონიკა
        </div>
        <div class="text">
            პროგრამის მიზანია, მოამზადოს კვალიფიციური სპეციალისტები მექატრონიკაში თანამედროვე საწარმოების მექატრონული
            სისტემებისა და მანქანა–დანადგარების დაგეგმვის, ინსტალაციის, პროგრამირების, ტესტირების, ექსპლუატაციაში
            გაშვების, მიმდინარე მომსახურების, შეცდომების აღმოჩენისა და მართვის უზრუნველყოფისთვის
        </div>
    </div>
</div>