<div class="hall__wrapper">
    <div class="back">
        <a routerLink="..">უკან დაბრუნება</a>
    </div>
    <div class="inner__wrapper"></div>
        <app-gallery [imagesFromOutside]="images" [height]="'800'" [width]="'1300'"></app-gallery>
        <div class="content">
            <div class="info__content">
                <div class="title">
                    გიორგი ნიკოლაძის სახელობის დარბაზი
                </div>
                <div class="text">
                    გიორგი ნიკოლაძის სახელობის დარბაზი
                    საქართველოს ტექნიკურ უნივერსიტეტს გიორგი ნიკოლაძის სახელობის განახლებული საკონფერენციო დარბაზი შეემატა. 
                    ახალი სივრცე უმაღლეს სასწავლებელში პრეზიდენტმა გახსნა. ღონისძიებას უნივერსიტეტის პროფესორ-მასწავლებლები 
                    და სტუდენტები ესწრებოდნენ.
                </div>
            </div>
        </div>
</div>