<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title">
            ელექტრული წრედების ლაბორატორია
        </div>
        <div class="text">
            ელექტრული წრედების ლაბორატორია(ელექტროტექნიკის თეორიული საფუძვლების ლაბორატორია)-ტარდება ლაბორატორიული
            სამუშაოები შემდეგ დისციპლინებში: <br>
            1.ელექტრული წრედების თეორია <br>
            2.Ელექტროტექნიკის თეორიული საფუძვლები <br>
            Ძირითადი ხელსაწყოები და დანადგარები: <br>
            Კომპიტერები,პროექტორი,სამუშაო დაფა, სიხშირის გენერატორები, კვების გენერატორი,ოსიცლოგრაფები,ამპერმეტრი,
            ვოლტმეტრი, ვატმეტრები, ფიზომეტრები.

        </div>
    </div>
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
</div>