.fusion__solar_wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    .info {
        width: 100%;
        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 25px;
            max-width: 760px;
            color: white;
            text-align: center
        }
        .text {
            font-size: 18px;
            color: white;
            max-width: 760px;
        }
    }
}
