<div class="first__building-wrapper">
    <div class="logo" routerLink="/">
        <img src="../../../../assets/icons/Logo.svg" alt="logo">
    </div>
    <div class="inner__wrapper">
        
    </div>
    <div class="content">
        <app-gallery [imagesFromOutside]="images" [height]="'800'" [width]="'1300'"></app-gallery>
        <app-cutting-sewing></app-cutting-sewing>
        <app-exams></app-exams>
        <app-space></app-space>
        <app-transport></app-transport>
    </div>
</div>
