<div class="high__voltage_laboratory">
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px;">
            მაღალი ძაბვის ელექტროტექნიკოსი
        </div>
        <div class="text">
            პროგრამის მიზანია, უზრუნველყოს კონკურენტუნარიანი კადრების მომზადება ელექტროობაში, 
            მოამზადოს კვალიფიციური სპეციალისტები მაღალი ძაბვის ელექტროობაში, რომლებიც ფლობენ ან 
            ოპერირებას უწევენ ქვესადგურებს და მაღალი ძაბვის ელექტროგადამცემ ხაზებს, აწარმოებენ 
            ელექტროენერგიის გადამცემი სისტემების ექსპლოატაციას წარმოების ადგილიდან გამანაწილებელ 
            სისტემამდე და ახდენენ იმ გამანაწილებელი (ელექტრული ხაზების, ბოძების, მრიცხველების და 
            კაბელებისაგან შემდგარი) სისტემების ექსპლუატაციას, რომლებიც აწვდიან მიღებულ ელექტროენერგიას 
            წარმოების ადგილიდან ან გადაცემის სისტემიდან საბოლოო მომხმარებელს.
        </div>
    </div>
</div>