<div class="main__title">
    სატრანსპორტო სისტემებისა და მექანიკის ინჟინერიის ფაკულტეტი
</div>
<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title" >
            სატრანსპორტო ფაკუტეტი
        </div>
        <div class="text">
            სატრანსპორტო სისტემებისა და მექანიკის ინჟინერიის ფაკულტეტი წარმოადგენს საქართველოს ტექნიკური უნივერსიტეტის
            სასწავლო-სამეცნიერო და ადმინისტრაციულ ერთ-ერთ დანაყოფს, რომელიც ამზადებს კვალიფიციურ სპეციალისტებს
            ტრანსპორტისა და მანქანათმშენებლობის დარგებისათვის.
        </div>
    </div>
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
</div>
<div class="high__voltage_laboratory" style="margin: 50px 0;">
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images2"></app-small-gallery>
    </div>
    <div class="info">
        <div class="title" >
            მანქანათა ნაწილებისა და ამწე-სატრანსპორტო მანქანების ლაბორატორია
        </div>
        <div class="text">
            მანქანათა ნაწილებისა და ამწე-სატრანსპორტო მანქანების ლაბორატორიის მიზანს წარმოადგენს ამწე-სატრანსპორტო,
            სამშენებლო-საგზაო და სხვა მანქანები და მექანიზმები და მანქანათა სისტემების აგების პრინციპების და
            მეთოდოლოგიური მიდგომების, დაპროექტების, გამოცდის, საწარმოო დანერგვის, დამზადების ტექნოლოგიური პროცესების
            (ტექნოლოგიური პროცესისათვის საჭირო წარმოების საშუალებების კონსტრუქციების, იარაღებისა და სამარჯვების
            გამოყენებით) შემუშავების და პრაქტიკული რეალიზაციის, ტექნიკური და საწარმოო ექსპლუატაციის, რემონტისა და
            მოდერნიზაციის, შესაბამის საწარმოთა დაპროექტების და ტექნიკური ორგანიზაციის საინჟინრო საკითხების რეალიზაციაზე
            და საინჟინრო საქმიანობაში თანამდროვე კომპიუტერული ტექნოლოგიების გამოყენებაზე ორიენტირებული სპეციალისტის
            მომზადება.
        </div>
    </div>
</div>
<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title" >
            თეგეტა მოტორსი
        </div>
        <div class="text">
            21 ოქტომბერს, კომპანია „თეგეტა მოტორსმა“ საქართველოს ტექნიკური უნივერისიტეტის I კორპუსში, თავისივე სახელობის
            (თეგეტა მოტორსის აუდიტორია) აუდიტორია გახსნა. ღონისძიებას ესწრებოდნენ საქართველოს განათლების და მეცნიერების
            სამინისტროს წარმომადგენლები „თეგეტა მოტორსის“ პრეზიდენტი თემურ კოხოძე, საქართველოს ტექნიკური უნივერსიტეტის
            რექტორი არჩილ ფრანგიშვილი, სხვა მოწვეული სტუმრები და ოფიციალური პირები.
        </div>
    </div>
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images3"></app-small-gallery>
    </div>
</div>
<div class="high__voltage_laboratory" style="margin: 50px 0;">
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images4"></app-small-gallery>
    </div>
    <div class="info">
        <div class="title" >
            ელექტროპნევმატიკის სამუშაო სადგური
        </div>
        <div class="text">
            ელექტროპნევმატიკის სამუშაო სადგურის ძირითად დანიშნულებაში შედის
            სხვადასხვა ფუნქციონალური დანიშნულების (მათ შორის კომპიუტერული მართვის სისტემებით აღჭურვილი) მანქანების და
            მანქანათა სისტემების მექანიკის ძირეული ფუნქციონალური ელემენტების - მექანიზმებისა და ამძრავთა (მათ შორის
            ავტომატიზებული, ელექტრომექანიკური, ელექტროჰიდრო და ელექტროპნევმომექანიკური რეგულირებისა და მართვის)
            სისტემების, მექატრონული მოდულებისა და სისტემების და მთლიანობაში თანამედროვე მანქანების (როგორც
            საწარმოო-ტექნოლოგიური, სამრეწველო-ინდუსტრიული).
        </div>
    </div>
</div>