<div class="high__voltage_laboratory">
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px;">
            პროფესორ ბორის დემეტრაძის სახელობის სასწავლო შახტი-ლაბორატორია
        </div>
        <div class="text">
            სასაწავლო შახტი–ლაბორატორია უმაღლეს სკოლაში თეორიული და პრაქტიკული სწავლების უწყვეტი პროცესის ხელსაყრელ
            პირობას იძლევა, რითაც ძირფესვიანად იცვლება სამთო საინჟინრო კადრების მომზადების პრაქტიკა.
            მიწისქვეშა სამთო სამუშაოთა პროცესების მთელი კომპლექსის გათვალისწინებით დაპროექტებულ იქნა სასწავლო
            შახტი–ლაბორატორია, რომლის მშენებლობა და სათანადო მანქანებით, მექანიზმებით, სატრანსპორტო საშუალებებით და
            დანადგარებით აღჭურვა განხორციელდა 1986-1991 წლებში.
            შახტი–ლაბორატორია წარმოადგენს ჰორიზონტალური, დახრილი, ვერტიკალური გვირაბებისა და კამერების ერთობლიობას,
            რომლებიც აღწურვილია თანამედროვე სამთო–შახტური მოწყობილობებით, მექანიზმებით და საწარმოო პროცესების მართვის
            ავტომატიზირებული საშუალებებით, მიწისქვეშა ელექტრომომარაგების მთელი სისტემით. გვირაბების საერთო სიგრძე 1000
            მეტრის ფარგლებშია. მათი განლაგების სიღრმე მიწის ზედაპირიდან 16 და 30 მეტრია.
            აქ შექმნილია ყველა პირობა სტუდენტების ინდივიდუალური მუშაობისათვის, რაც პროფესიული მომზადების – ტექნოლოგიური
            პროცესებისა და წარმოების მართვის ჩვევების შეცნობა–ათვისების საწინდარია.
        </div>
    </div>
</div>