<div class="third__building-wrapper">
    <div class="logo" routerLink="/">
        <img src="../../../../assets/icons/Logo.svg" alt="logo">
    </div>
    <div class="inner__wrapper">
        
    </div>
    <div class="content">
        <app-gallery [imagesFromOutside]="images" [height]="'800'" [width]="'1300'"></app-gallery>
        
        <app-geological-technologies></app-geological-technologies>
        <app-shaft-laboratory></app-shaft-laboratory>
        <app-geology></app-geology>
        <app-mineral-substances></app-mineral-substances>
        <app-mineralogy-and-petrography></app-mineralogy-and-petrography>
        <app-education-devices></app-education-devices>
    </div>
</div>