<div class="card-main">

    <div class="container">
        <h2>საქართველოს ტექნიკური უნივერსიტეტის </h2>
        <p>ადმინისტრაციული კორპუსი</p>
        <div class="row">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img class="image1" src="./card/library.jpg" alt="card">
                        <h3>ბიბლიოთეკა</h3>
                    </div>
                    <div class="card-back">
                        <div class="text">
                            <h3>ბიბლიოთეკა</h3>
                            <p>ბიბლიოთეკის ფონდში დიდი რაოდენობითაა ენციკლოპედიები, ლექსიკონები და სხვადასხვა
                                სასწავლო-სამეცნიერო კვლევითი
                                ორგანიზაციების სამეცნიერო შრომები. სტუ-ს ნიკო მუსხელიშვილის საუნივერსიტეტო
                                ბიბლიოთეკის ფონდში ინახება მნიშვნელოვანი საენათმეცნიერო და მხატვრული ლიტერატურა.
                                ნიკო მუსხელიშვილის საუნივერსიტეტო ბიბლიოთეკაში ინახება ის საკანდიდატო და სადოქტორო
                                დისერტაციები...</p>
                            <div class="link">
                                <a href="">დეტალურად</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="./card/img4.jpg" alt="card">
                        <h3>ნ.ნიკოლაძის საკონფერენციო დარბაზი</h3>
                    </div>
                    <div class="card-back">
                        <div class="text">
                            <h3>ნიკო ნიკოლაძის საკონფერენციო დარბაზი</h3>
                            <p>თბილისის ტექნიკურ უნივერსიტეტს ნიკო ნიკოლაძის სახელობისსაკონფერენციო დარბაზი შეემატა.
                                ახალი სივრცე უმაღლეს სასწავლებელში პრეზიდენტმა გახსნა.</p>
                            <div class="link">
                                <a href="./hall.html">დეტალურად</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="./card/img3.jpg" alt="card">
                        <h3>გ.ნიკოლაძის სახელობის დარბაზი</h3>
                    </div>
                    <div class="card-back">
                        <div class="text">
                            <h3>გიორგი ნიკოლაძის სახელობის დარბაზი</h3>
                            <p>თბილისის ტექნიკურ უნივერსიტეტს ნიკო ნიკოლაძის სახელობის საკონფერენციო დარბაზი
                                შეემატა. ახალი სივრცე უმაღლეს სასწავლებელში პრეზიდენტმა გახსნა. ღონისძიებას
                                უნივერსიტეტის პროფესორ-მასწავლებლები და სტუდენტები ესწრებოდნენ.</p>
                            <div class="link">
                                <a href="">დეტალურად</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>