<div class="second__floor-wrapper">
    <div class="inner__wrapper">
    
    </div>
    <div class="back">
        <a routerLink="..">უკან დაბრუნება</a>
    </div>
   <div class="content">
    <div class="information__laboratory">
        <div class="images">
            <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
        </div>
       
        <div class="title" >
            ინფორმაციული სისტემების  ლაბორატორია
        </div>
    </div>
    <div class="information__laboratory column__reverse">
        <div class="title">
            კომპიუტერული მოდელირების ლაბორატორია და ბიზნეს პროცესების და ანალიზის ინფორმაციული ტექნოლოგიების ლაბორატორია
        </div>
        <div class="images" style="margin-right: 0px; margin-left: 5%;">
            <app-small-gallery [imagesFromOutside]="images3"></app-small-gallery>
        </div>
    </div>
    <div class="information__laboratory">
        <div class="images">
            <app-small-gallery [imagesFromOutside]="images2"></app-small-gallery>
            
        </div>
        <div class="title">
            ინფორმაციული დაცვის და კიბერუსაფრთხოების  ლაბორატორია
        </div>
    </div>
   </div>
</div>