<div class="second__floor-wrapper">
    <div class="back-arrow" routerLink="..">
        
    </div>
    <div class="information__laboratory">
        <div class="images">
            <img src="../../../../../../../../assets/images/9-building/2-სართული.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-1.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-2.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-3.jpg" alt="" width="350">
        </div>
        <div class="title" style="width: 715px;">
            ინფორმაციული სისტემების  ლაბორატორია
        </div>
    </div>
    <div class="information__laboratory">
        <div class="title">
            კომპიუტერული მოდელირების ლაბორატორია და ბიზნეს პროცესების და ანალიზის ინფორმაციული ტექნოლოგიების ლაბორატორია
        </div>
        <div class="images">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-4.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-5.jpg" alt="" width="350">
            
        </div>
    </div>
    <div class="information__laboratory">
        <div class="images">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-8.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-9.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-6.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-7.jpg" alt="" width="350">
        </div>
        <div class="title">
            ინფორმაციული დაცვის და კიბერუსაფრთხოების  ლაბორატორია
        </div>
    </div>
</div>