.second__floor-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 50px 0;
    overflow-x: hidden;
    background: url('../../../../../../../../assets/backgrounds/9.webp')center center/cover no-repeat;
    background-attachment: fixed;

    .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        max-width: 760px;
        min-width: 750px;
        margin-right: 5%;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
        max-width: 760px;
        color: white;
        text-align: center
    }

    .information__laboratory {
        padding-top: 50px;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1150px) {
    .second__floor-wrapper {
        .information__laboratory {
            flex-direction: column;
        }
        .images {
            justify-content: center;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
        .column__reverse {
            flex-direction: column-reverse;
        }
        .title {
            max-width: 400px;
        }
    }
}