<div class="second__floor-wrapper">
    <div class="inner__wrapper">
    
    </div>
    <div class="back">
        <a routerLink="..">უკან დაბრუნება</a>
    </div>
   <div class="content">
    <div class="information__laboratory">
        <div class="images">
            <app-gallery [imagesFromOutside]="images"></app-gallery>
        </div>
       
        <div class="title" style="width: 715px;">
            ინფორმაციული სისტემების  ლაბორატორია
        </div>
    </div>
    <div class="information__laboratory" >
        <div class="title">
            კომპიუტერული მოდელირების ლაბორატორია და ბიზნეს პროცესების და ანალიზის ინფორმაციული ტექნოლოგიების ლაბორატორია
        </div>
        <div class="images" style="margin-right: 0px;">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-4.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/2-სართული-5.jpg" alt="" width="350">
            
        </div>
    </div>
    <div class="information__laboratory">
        <div class="images">
            <app-gallery [imagesFromOutside]="images2"></app-gallery>
            
        </div>
        <div class="title">
            ინფორმაციული დაცვის და კიბერუსაფრთხოების  ლაბორატორია
        </div>
    </div>
   </div>
</div>