.second__floor-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 50px 0;
    overflow-x: hidden;
    background: url('../../../../../../../../assets/backgrounds/9.jpeg')center center/cover no-repeat;
    background-attachment: fixed;

    .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        max-width: 760px;
        min-width: 750px;
        margin-right: 5%;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
        max-width: 760px;
        color: white;
        text-align: center
    }

    .information__laboratory {
        padding-top: 50px;
        display: flex;
        align-items: center;
    }
}