<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title">
            სამთო-გეოლოგიური ფაკულტეტი
        </div>
        <div class="text">
            საქართველოს ტექნიკური უნივერსიტეტის 100 წლის იუბილეს სამთო-გეოლოგიური ფაკულტეტი სასიამოვნო სიახლით ხვდება!
            კომპანია RMG-ის „სამთო-გეოლოგიური ტექნოლოგიების ცენტრი“, რომელიც სტუ-ის სამთო-გეოლოგიის ფაკულტეტზეა
            გახსნილი, სტუდენტებს სამთო-გეოლოგიის დარგისთვის აუცილებელი თანამედროვე კომპიუტერული პროგრამების შესწავლას
            სთავაზობს.
        </div>
    </div>
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
</div>