<div class="eleventh__wrapper">
    <div class="logo" routerLink="/">
        <img src="../../../../assets/icons/Logo.svg" alt="logo">
    </div>
    <div class="inner__wrapper">

    </div>
    <div class="content">
        <div class="high__voltage_laboratory">
            <div class="images">
                <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
            </div>
            <div class="info">
                <div class="title">
                    ბიბლიოთეკა
                </div>
                <div class="text">
                    საქართველოს ტექნიკური უნივერსიტეტი – აგრარული მეცნიერების და ბიოსისტემების ინჟინერინგის ფაკულტეტის
                    ბიბლიოთეკაში განთავსებულია ფაკულტეტისთვის საჭირო სასწავლო-სამეცნიერო მოსალები და განტავსებულია
                    კომპიუტერები პროფესორ-სტუდენტებისთვის.
                </div>
            </div>
        </div>
        <div class="mechanical__engineering_laboratory">
            <div class="info">
                <div class="title">
                    აგროქიმიის ლაბორატორია
                </div>
                <div class="text">
                    აგრონომია - შეასწავლის სხვადასხვა აგროტექნიკური ღონისძიებების ჩატარების წესებს, სარეველა მცენარეების
                    გავრცელების
                    მდგომარეობას და მათ წინააღმდეგ ბრძოლის ღონისძიებებს, მიწათმოქმედების სისტემას, როგორც აგროტექნიკური,
                    მელიორაციული და ორგანიზაციული ღონისძიებების ერთმანეთთან დაკავშირებულ კომპლექსს, აგრონომიის,
                    ნიადაგმცოდნეობის, მემცენარეობის, მევენახეობის, მეხილეობის, მებოსტნეობის, მცენარეთა დაცვის,
                    საკვებწარმოების, მცენარეთა სელექცია-გენეტიკის, ორგანული სოფლის მეურნეობისა და აგროეკოლოგიის
                    საკითხებს _ დაფინანსებულია 100%-ით.
                </div>
            </div>
            <div class="images">
                <app-small-gallery [imagesFromOutside]="images2"></app-small-gallery>
            </div>
        </div>
        <div class="high__voltage_laboratory">
            <div class="images">
                <app-small-gallery [imagesFromOutside]="images3"></app-small-gallery>
            </div>
            <div class="info">
                <div class="title">
                    ნიადგმცოდნეობის ლაბორატორია
                </div>
                <div class="text">
                    ნიადაგისა და წყლის რესურსების ინჟინერია _ შეასწავლის აგროსაინჟინრო სისტემების დაპროექტებას,
                    თანამედროვე სასოფლო-სამეურნეო ტექნიკის ექსპლოატაციის და რეგულირების პროცესში რისკ-ფაქტორების
                    გათვალისწინებას, ბუნებრივი წყლების კლასიფიკაციას და წყლის ხარისხის შემოწმებას, ასევე მონიტორინგის
                    განხორციელებას, ინჟინერიაში დიდი მოცულობის მქონე მონაცემთა ანალიზზე და შესაბამისი საინჟინრო
                    გადაწყვეტილების შერჩევაზე ორიენტირებულ მონაცემთა სტატისტიკურ დამუშავებას და პრაქტიკაში გამოყენებას
                </div>
            </div>
        </div>
        <div class="mechanical__engineering_laboratory">
            <div class="info">
                <div class="title">
                    ჰიდრავლიკის ლაბორატორია
                </div>
                <div class="text">
                    Ჰიდრავლიკის ლაბორატორიები შეიცავს იმ ლაბორატორიული სამუშაოების ჩატარებას და აღწერას, რომლებიც
                    სრულდება საქართველოს ტექნიკური უნივერსიტეტის სხვადასხვა ფაკულტეტზე ჰიდრავლიკის თეორიული კურსის
                    პარალელურად. პრაქტიკუმი ზოგად ჰიდრავლიკაში მიზნად ისახავს, სტუდენტთა თეორიული ცოდნის განმტკიცებას,
                    მათთვის ექსპერიმენტის ჩატარების მეთოდიკის დაწვრილებით გაცნობას და აუცილებელი ჩვევების გამომუშავებას
                    დამოუკიდებელი ექსპერიმენტულ-თეორიული კვლევისთვის. პრაქტიკუმის შედგენისას გავითვალისწინეთ გადმოცემული
                    მასალის. რაც შეიძლება მეტი თვალსაჩინოება, რათა ის დაეხმაროს სტუდენტებს ზოგადი ჰიდრავლიკის კურსის
                    დამოუკიდებლად შესწავლაში.
                </div>
            </div>
            <div class="images">
                <app-small-gallery [imagesFromOutside]="images4"></app-small-gallery>
            </div>
        </div>
        <div class="high__voltage_laboratory">
            <div class="images">
                <app-small-gallery [imagesFromOutside]="images5"></app-small-gallery>
            </div>
            <div class="info">
                <div class="title">
                    მეცხოველეობის ლაბორატორია
                </div>
                <div class="text">
                    მეცხოველეობა _ შეისწავლის ცხოველთა და ფრინველთა კვების, რეპროდუქციის საკითხებს; მეცხოცელეობის
                    პროდუქციის გადამუშავების ტექნოლოგიებს; პროდუქციის წარმოებისა და შესაბამისი პროცესების მართვის სფეროს
                </div>
            </div>
        </div>
    </div>
</div>