<div class="main__title">
    მეშვიდე სართული
</div>
<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title" >
            ბიზნესტექნოლოგიების ფაკულტეტი
        </div>
        <div class="text">
            საქართველოს ტექნიკურ უნივერსიტეტში ბიზნესტექნოლოგიების ფაკულტეტი შეიქმნა სტუ-ს აკადემიური საბჭოს 2016 წლის
            16 მაისის #1987 დადგენილებით, ბიზნეს-ინჟინერინგის ფაკულტეტის 2016 წლის 13 მაისის საბჭოს გადაწყვეტილების
            საფუძველზე (ბიზნეს-ინჟინერინგის ფაკულტეტის რეორგანიზაციის შედეგად).
            ბიზნესტექნოლოგიების ფაკულტეტი აერთიანებს სწავლების სამივე საფეხურის საგანმანათლებლო პროგრამებს.
            ბაკალავრიატი, მაგისტრატურა, დოქტორანტურა.
        </div>
    </div>
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
</div>