<div class="high__voltage_laboratory">
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px;">
            ჭრა-კერვია და ტყავის დამუშავება
        </div>
        <div class="text">
            პროგრამის მიზანია, ფეხსაცმლისა და ტყავის ნაკეთობათა წარმოების სფეროსთვის უზრუნველყოს შესაბამისი დარგის
            კვალიფიციური პრაქტიკული უნარ–ჩვევების მქონე კონკურენტუნარიანი კადრების მომზადება. მომზადდებიან კადრები
            ფეხსაცმლისა და ტყავის ნაკეთობათა წარმოების მიმართულებით, რომლებიც შეძლებენ თანამედროვე ინდივიდუალური და
            მასიური წარმოების პირობებში ტყავისა და ტყავის შემცვლელი მასალისაგან სხვადასხვა სირთულის ფეხსაცმლისა და
            აქსესუარების დამზადებას.
        </div>
    </div>
</div>