<div class="floor__0">
    <div class="back-arrow" routerLink="..">
        
    </div>
    <div class="left">
        <img src="../../../../../../assets/images/9-building/0-სართული1.jpg" width="350" alt="">
        <img src="../../../../../../assets/images/9-building/0-სართული2.jpg" width="350" alt="">
        <img src="../../../../../../assets/images/9-building/0-სართული3.jpg" width="350" alt="">
        <img src="../../../../../../assets/images/9-building/0-სართული4.jpg" width="350" alt="">
        <img src="../../../../../../assets/images/9-building/0-სართული5.jpg" width="350" alt="">
        <img src="../../../../../../assets/images/9-building/0-სართული6.jpg" width="350" alt="">
    </div>
    <div class="right">
        <div class="right__title">
            <h2>ჭკვიანთა სამჭედლო</h2>
        </div>
        <div class="right__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam ea fuga minima alias
            amet quia debitis consequuntur cupiditate voluptas ipsum autem inventore illo provident
            ipsa nihil iste ut, vel ab doloribus atque quasi error exercitationem optio. Ullam, quae?
            Dolor, quas, assumenda aspernatur culpa, itaque officiis quisquam facilis nulla doloremque
            quidem non doloribus asperiores. Totam corrupti ad veritatis sunt nemo optio a voluptatum
            repudiandae labore consequuntur sequi aliquam soluta ipsam earum, numquam ab aliquid
            architecto commodi atque! Atque, earum id magni voluptas consequuntur eligendi reiciendis
            ad recusandae quidem laudantium quis numquam alias reprehenderit amet, molestias quisquam
            impedit laborum ea? Rerum, quaerat veritatis dignissimos expedita iste rem recusandae
            adipisci quisquam, totam et, nobis soluta harum nulla. Rerum officia laboriosam repellendus
            autem iste tenetur possimus beatae ab repudiandae recusandae accusantium, sapiente earum
            quisquam facere quo harum, deserunt voluptas ea reprehenderit incidunt perferendis nam
            quasi repellat dolor. Recusandae ex at, minima soluta beatae quas.
        </div>
    </div>
</div>