<div class="floor__0">
    <div class="inner__wrapper"></div>
    <div class="back">
        <a routerLink="..">უკან დაბრუნება</a>
    </div>
    <div class="content">
        <div class="left">
            <app-gallery [imagesFromOutside]="images"></app-gallery>

        </div>
        <div class="right">
            <div class="right__title">
                <h2>ჭკვიანთა სამჭედლო</h2>
            </div>
            <div class="right__text">
                ჭკვიანთა სამჭედლოში ძირითადი <br> სწავლება მიმდინარეობს: <br>
                <ul>
                    <li>ელექტრონიკა;</li>
                    <li>მიკროკონტროლერის დაპროგრამება (Arduino);</li>
                    <li>პროგრამირების ენა პითონი;</li>
                    <li> რობოტიკა;</li>
                </ul>
            </div>
        </div>
    </div>
</div>