<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title" style="width: 715px;">
            სამრეწველო ავტომატიზაცია
        </div>
        <div class="text">
            პროგრამის მიზანია, მოამზადოს კონკურენტუნარიანი სამრეწველო ავტომატიზაციის სპეციალისტი, რომელიც უზრუნველყოფს
            სამრეწველო ავტომატიზირებული სისტემების დაგეგმვასა და ინსტალაციას, მანქანა-დანადგარების დიზაინს,
            პროგრამირებასა და პარამეტრების შეყვანას, ტესტირებასა და გამართვას, ექსპლუატაციას, დიაგნოსტიკასა და
            შეკეთებას.
        </div>
    </div>
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
</div>