<div class="main__title">
    მერვე სართული
</div>
<div class="high__voltage_laboratory">
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
    <div class="info">
        <div class="title" >
            საინჟინრო ეკონომიკის, მედიატექნოლოგიებისა და სოციალურ მეცნიერება ფაკულტეტი
        </div>
        <div class="text">
            მეცნიერება ფაკულტეტი
            საქართველოს ტექნიკური უნივერსიტეტის 2016 წლის 16 მაისის # 1987 დადგენილების თანახმად ჩამოყალიბდა საინჟინრო
            ეკონომიკის, მედიატექნოლოგიებისა და სოციალურ მეცნიერება ფაკულტეტი;
            ახლადშექმნილ ფაკულტეტის უახლესი მიზანი და უპირველესი ამოცანაა სტუდენტებისათვის ხარისხიანი, თანამედროვე
            სტანდარტების შესაბამისი სასწავლო - კვლევითი გარემოს შექმნა და საქართველოს საგანმანათლებლო სივრცეში
            კონკურენტუნარიანი ადგილის დამკვიდრება;
        </div>
    </div>
</div>
<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title">
            ბიბლიოთეკა
        </div>
        <div class="text">
            ბიბლიოთეკაში დიდი რაოდენობითაა ენციკლოპედიები, ლექსიკონები და სხვადასხვა სასწავლო-სამეცნიერო კვლევითი
            ორგანიზაციების სამეცნიერო შრომები.განთავსებულია საინჟინრო ეკონომიკის მედიატექნოლგიების ფაკულტეტისთვის საჭირო
            ყველა მასალა.
        </div>
    </div>
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images2"></app-small-gallery>
        
    </div>
</div>