<div class="high__voltage_laboratory">
    
    <div class="info">
        <div class="title" >
            საგამოცდო ცენტრი
        </div>
        <div class="text">
            Საქართველოს ტექნიკური უნივერსიტეტის საგამოცდო ცენტრი, რომელშიც მინდინარეობს დასკვნითი და შუასემესტრული
            გამოცდები,სამივე საფეხურის სტუდენტებისთვის.
        </div>
    </div>
    <div class="images">
        <app-small-gallery SmallGalleryComponent [imagesFromOutside]="images"></app-small-gallery>
    </div>
</div>