<div class="electrical__circuits_wrapper">
    <div class="info">
        <div class="title" style="width: 715px;">
            ელექტრული ტექნოლოგიების ლაბორატორია
        </div>
        <div class="text">

            ლაბორატორია აღჭურვილია 205 დეპარტამენტის თანამშრომლების მიერ შექმნილი ორი „ელექტრომომარაგების სისტემის
            ელექტრული დატვირთვების ფიზიკური მოდელისა“ და „SATEC“ - ის ფირმის მიერ წარმოებული EM133, PM130, PM180 და
            PM175 სერიის ელექტროენერგიის ხარისხის მაჩვენებლების კონტროლის ანალიზატორებისა და BFM136 ტიპის
            მრავალაბონენტიანი ელექტროენერგიის მრიცხველის ბაზაზე შექმნილი სტენდებით. დატვირთვების ფიზიკური მოდელისა
            მართვა ხორციელდება პროგრამირებადი კონტროლიორ „Zelio“-ს საშუალებით. ლაბორატორია ასევე აღჭურვილია კომპიუტერული
            ტექნიკით და პროგრამული უზრუნველყოფით. ჩატარებული ლაბორატორიული ამოცანების შედეგები ფიქსერდება SCADA-ს
            სისტემაში.
            ლაბორატორიაში შესაძლებელია მინიმუმ 20 ლაბორატორიული ამოცანის ჩატარება.

            ლაბორატორია გათვალისწინებულია „ენერგეტიკა და ელექტროინჟინერია“ სამაგისტრო პროგრამის „ელექტრომაგნიტური
            თავსებადობა ელექტროენერგეტიკაში“ საგნის, და ასევე, „ენერგეტიკა და ელექტროინჟინერიის“ საბაკალავრო პროგრამის
            „ელექტროტექნოლოგიური დანადგარებისა და კომპლექსების ელექტრომომარაგება“ და „ზოგადი ელექტრომომარაგება“
            საგნებისათვის.
            ლაბორატორია ერთდროულად უზრუნველყოფს 14 სტუდენტის მიღებას.


        </div>
    </div>
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
</div>