<div class="buildings__wrapper" [ngStyle]="">
    <div class="inner__wrapper">

    </div>
    <div class="logo">
        <img src="../../assets/icons/Logo.svg" width="80" height="80" alt="logo">
    </div>
    <div class="main__content">
        <div class="main__title">
            <h1>
                <span>Welcome</span>
                <span>to</span>
                <span> Georgian</span>
                <span>Technical</span>
                <span>University</span>
            </h1>
        </div>
        <div class="main__subtitle">
            <h2>
                <span>Click</span>
                <span>the</span>
                <span>cards</span>
                <span>to</span>
                <span> get</span>
                <span>more</span>
                <span>information</span>
                <span>about</span>
                <span>buildings</span>
            </h2>
        </div>

        <div class="cards__container">
            <app-card [cards]="cards"></app-card>
        </div>
    </div>
</div>