<div class="buildings__wrapper" [ngStyle]="{'background': 'url(' + background + ')center center/cover no-repeat'}">
    <div class="inner__wrapper">

    </div>
    <div class="logo">
        <img src="../../assets/icons/Logo.svg" width="80" height="80" alt="logo">
    </div>
    <div class="main__content">
        <div class="main__title">
            <h1>
                <span>საქართველოს</span>
                <span>ტექნიკური</span>
                <span> უნივერსიტეტის</span>
                <span>ფოტო</span>
                <span>გალერეა</span>
            </h1>
        </div>
    
        <div class="cards__container">
            <app-card (id)="changeBackground($event)" [cards]="cards"></app-card>
        </div>
    </div>
</div>