<div class="mechanical__engineering_laboratory">
    <div class="info">
        <div class="title" >
            აკადემიკოს ალექსანდრე თვალჭრელიშვილს სახელობის მინერალოგიისა და პეტროგრაფიის მუზეული
        </div>
        <div class="text">
            საქართველოს ტექნიკური უნივერსიტეტის სამთო–გეოლოგიის ფაკულტეტთან არსებული სმინერალოგიისა და პეტროგრაფიის
            მუზეუმი შვიდ ათეულ წელს ითვლის. მუზეუმი მინერალოგიურ–პეტროგრაფიული ექსპონატების თვალსაზრისით ერთ–ერთი
            მდიდარი და მრავალფეროვანი მუზეუმია ამიერკავკასიაში. აქ გამოფენილია ნიმუშები როგორც საქართველოს, ასევე ყოფილი
            საბჭოთა კავშირის რესპუბლიკებისა და საზღვარგარეთის ქვეყნების ცნობილი საბადოებიდან, მათი ცალკეული უბნებიდან.
            წარმოდგენილიაროგორც მადნეული, არამადნეული და ქანმაშენი მინერალები, ასევე მათი პარაგენეტული ასოციაციები.
            აგრეთვე, ძვირფასი, სანახელავო, მოსაპირკეთებელი და სამშენებლო ქვები. აქვეა მინერალთა სისტემური, გეოქიმიური,
            გენეტური და ზოგიერთი ცალკეული ლითონის მთავარი მინერალების კოლექციები.
            მუზეუმს გააჩნია მდიდარი ფონდი, რომელსაც დიდი სასწავლო მნიშვნელობა აქვს. მის საცავებში ინახება 12 ათასზე მეტი
            მინერალის, ქანის და მადნის ნიმუში, რომლებიც სტუდენტებს მინერალოგიის, პეტროლოგიისა და გეოქიმიის ლაბორატორიული
            კურსის ათვისებაში ეხმარება.
        </div>
    </div>
    <div class="images">
        <app-small-gallery [imagesFromOutside]="images"></app-small-gallery>
    </div>
</div>