<div class="history__wrapper">
    <div class="inner__wrapper">

    </div>
    <div class="building__info">
        <h1 class="info__title">
            <span>ჟიული</span> <span>შარტავას</span>
            <span>სახელობის</span><span>ინფორმატიკისა</span> <span>და </span><br>
            <span>მართვის</span> <span>სისტემების</span> <span>სასწავლო</span> <span>–</span> <span>სამეცნიერო</span>
            <span>და</span> <br>
            <span>საექსპერტო</span> <span>ლაბორატორიის</span> <span>კორპუსი</span>
        </h1>
        <div class="building__pictures">
            <img [ngClass]="{'show': show1}"  src="../../../../../../assets/backgrounds/კორპუსის-3დ-სურათი.png" alt="" height="270" width="400">
            <img [ngClass]="{'show': show2}" src="../../../../../../assets/backgrounds/9-კორპუსი.jpeg" alt="" height="270" width="400">
            <img [ngClass]="{'show': show3}" src="../../../../../../assets/images/9-building/შესასვლელი.jpg" alt="" width="400" height="270">
            <img [ngClass]="{'show': show4}" src="../../../../../../assets/images/9-building/166136839_1161773644259579_7550739883064781254_n.jpg" alt="" width="400" height="270">
        </div>
    </div>
</div>