<div class="history__wrapper">
    <div class="inner__wrapper">

    </div>
    <div class="building__info">
        <h1 class="info__title">
            <span>ჟიული</span>  <span>შარტავას</span> 
            <span>სახელობის</span><span>ინფორმატიკისა</span> <span>და </span><br> 
            <span>მართვის</span>  <span>სისტემების</span>  <span>სასწავლო</span>  <span>–</span>  <span>სამეცნიერო</span>  <span>და</span> <br> 
            <span>საექსპერტო</span> <span>ლაბორატორიის</span>  <span>კორპუსი</span>
        </h1>
        <div class="building__pictures">
            <img src="../../../../../../assets/backgrounds/კორპუსის-3დ-სურათი.png" alt="" width="600">
        </div>
    </div>
</div>