<div class="high__voltage_laboratory">
    <div class="images">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
    </div>
    <div class="info">
        <div class="title" style="width: 715px;">
            კოსმოსური კონსტრუქცია
        </div>
        <div class="text">
            საქართველოს ტექნიკურ უნივერსიტეტში წლების განმავლობაში იქმნებოდა კონსტრუქციები, რომლებმაც არაერთი სპეციალური
            კოსმოსური პროგრამის შესრულება უზრუნველყო. საქართველოს ტექნიკური უნივერსიტეტი ასრულებდა კომპანიების – Daimler
            Benz-ის, Alenia Aerospazio-ს და ESA-ს (European Space Agency) შეკვეთებს. პირველი ქართული კოსმოსური ობიექტი
            სწორედ საქართველოს ტექნიკურ უნივერსიტეტში შეიქმნა.მნიშვნელოვანია ის, რომ შემუშავდა დიდგაბარიტიანი
            რეფლექტორების შექმნის იდეოლოგია და სქემები, რომლის მიხედვითაც დღეს მსოფლიოს ბევრი კომპანია მუშაობს.
            უნივერსიტეტის მიერ შექმნილი კოსმოსური სისტემებიდან, რომელიც ორბიტაზე იქნა გაყვანილი, აღსანიშნავია სამი
            სისტემა, რომელიც ღია ლიტერატურაში ფართოდ არის განხილული. ასევე, მნიშვნელოვანია სპეცსამუშაოები, რომლის
            მიხედვითაც საქართველოში შექმნილია სამი 30 მეტრის გაბარიტის მქონე გასაშლელი კოსმოსური კონსტრუქცია, ორი
            15-მეტრიანი ტრანსფორმირებადი ნაკეთობა და ერთი მიწისზედა, 12 მეტრის დიამეტრის მქონე საინჟინრო კომპლექსი.
            პირველი ქართული კოსმოსური ობიექტის ორბიტაზე გაყვანის შემდეგ 20 წელი გავიდა და დღემდე, ის რჩება ევროპაში
            ერთ-ერთ ყველაზე დიდ გასაშლელ კონსტრუქციად ორბიტაზე.
        </div>
    </div>
</div>