<div class="first__floor-wrapper">
    <div class="inner__wrapper">
    
    </div>
    <div class="back">
        <a routerLink="..">უკან დაბრუნება</a>
    </div>
    
   <div class="content">
    <div class="laboratory__of-robot">
        <app-gallery [imagesFromOutside]="images"></app-gallery>
       
        <div class="info">
            <div class="info__title">
                რობოტოტექნიკის ლაბორატორია
            </div>
            <div class="info__text">
                <p>
                    კრეატიული პროექტების დამუშავება <br>
                    რობოტოტექნიკაში. მოიცავს რობოტების<br>
                    სხვადასხვა მექანიკურ და ელექტრონულ<br>
                    პლატფორმებს, სენსორებს,<br>
                    შემსრულებელ მოწყობილობებს.
                </p>
                <div class="etc">
                    მოიცავს:
                </div>
                <ul>
                    <li>
                        ოთხ POP-BOT XT რობოტიზირებულ
                        კონსტრუქტორს;
                    </li>
                    <li>
                        ექვს IE-ROBOPICA ტიპის ინტელექტუალურ
                        პროგრამირებად თვითმავალ რობოტს;
                    </li>
                    <li>
                        ექვს სადემონსტრაციო პლატას PIC-MT-USB LCDით PIC მიკროკონტროლერის ბაზაზე;
                    </li>
                    <li>
                        ექვს სადემონსტრაციო პლატას PIC-MT-USB LCDით PIC მიკროკონტროლერის ბაზაზე;
                    </li>
                    <li>
                        რვა PIC-P40-USB-პლატას USB ინტერფეისით,
                        რომელიც წარმოადგენს მოწყობილობას
                        მაკეტირებისათვის <br> მიკროკონტროლერის
                        საფუძველზე.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="software__engineering-laboratory">
        <div class="info">
            <div class="info__title">
                პროგრამული ინჟინერიის ლაბორატორია <br>
                გამოყენებითი პროგრამული პროდუქტების შექმნა.
            </div>
            <div class="info__text">
                ლაბორატორია მოიცავს: <br> <br>
                <ul>
                    <li>
                        12 პერსონალურ კომპიუტერს; 

                    </li>
                    <li>
                        შესაბამის პროგრამულ და მეთოდურ მითითებებს ლაბორატორიული და პრაქტიკული სამუშაოების ჩასატარებლად
                    </li>
                </ul>
            </div>
        </div>
        <img class="laboratory__img" src="../../../../../../../../assets/images/9-building/პროგრამული-ინჟინერა.jpg" width="760" height="540">
    </div>
   </div>
</div>