.first__floor-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1903px;
    background-color: rgb(187, 187, 187);
    padding: 50px 0;

    .main__title {
        font-size: 28px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .laboratory__of-robot {
        display: flex;
        align-items: center;
        .images {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
            max-width: 760px;
            min-width: 750px;
            margin-right: 5%;
        }
        .info {
            .info__title {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 25px;
            }
            .info__text {
                font-size: 18px;
                .etc {
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 5px;
                    margin-top: 15px;
                }
            }
        }
    }
}