<div class="first__floor-wrapper">
    <div class="back-arrow" routerLink="..">
        
    </div>
    <h2 class="main__title">
        1 სართული
    </h2>
    <div class="laboratory__of-robot">
        <div class="images">
            <img src="../../../../../../../../assets/images/9-building/1-სართული1.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/1-სართული2.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/1-სართული3.jpg" alt="" width="350">
            <img src="../../../../../../../../assets/images/9-building/1-სართული4.jpg" alt="" width="350">
        </div>
        <div class="info">
            <div class="info__title">
                რობოტოტექნიკის ლაბორატორია
            </div>
            <div class="info__text">
                <p>
                    კრეატიული პროექტების დამუშავება <br>
                    რობოტოტექნიკაში. მოიცავს რობოტების<br>
                    სხვადასხვა მექანიკურ და ელექტრონულ<br>
                    პლატფორმებს, სენსორებს,<br>
                    შემსრულებელ მოწყობილობებს.
                </p>
                <div class="etc">
                    მოიცავს:
                </div>
                <ul>
                    <li>
                        ოთხ POP-BOT XT რობოტიზირებულ
                        კონსტრუქტორს;
                    </li>
                    <li>
                        ექვს IE-ROBOPICA ტიპის ინტელექტუალურ
                        პროგრამირებად თვითმავალ რობოტს;
                    </li>
                    <li>
                        ექვს სადემონსტრაციო პლატას PIC-MT-USB LCDით PIC მიკროკონტროლერის ბაზაზე;
                    </li>
                    <li>
                        ექვს სადემონსტრაციო პლატას PIC-MT-USB LCDით PIC მიკროკონტროლერის ბაზაზე;
                    </li>
                    <li>
                        რვა PIC-P40-USB-პლატას USB ინტერფეისით,
                        რომელიც წარმოადგენს მოწყობილობას
                        მაკეტირებისათვის <br> მიკროკონტროლერის
                        საფუძველზე.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="software__engineering-laboratory">
        
    </div>
</div>